*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: bisque;
}

header{
    text-align: center;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
    color:blue;
    background-color: blanchedalmond;
}

header div ul{
    list-style-type: none;
}

header div ul li{
    float:left;
    width:25%;
    text-align: center;
   
}

header div ul{
    content: "";
    display:table;
    clear:both; 
}

   

.sous{
    display: none;
    box-shadow: 0px 1px 2px;
    background-color:blanchedalmond;
}

header div > ul li:hover .sous{
    display:block;
}

.sous li{
    float: none;
    width:100%;
    text-align:left;
   
}

.sous a{
    padding: 10px;
    border-bottom: none;
    
}

.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}

.deroulant > a::after{
    content:"Menu▼";
    font-size:12px;
}

.sous{
    display:none;
    box-shadow:0px 1px 2px;
    
    position:absolute;
    width: 100%;
    z-index:1000;
}

header div ul li{
    float:left;
    text-align:center;
    
}

.remplissage{
    display:flex;
    width: 80%;

}

.void{
    height: 100px;
}

